@model IEnumerable<Golestan_Simulation.Models.Courses>

@{
    ViewData["Title"] = "لیست تمام دروس";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>نام درس</th>
            <th>کد درس</th>
            <th>تعداد واحد</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.Code</td>
                <td>@c.Unit</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.Id">ویرایش</a> |
                    <a asp-action="Delete" asp-route-id="@c.Id">حذف</a> |
                    <a asp-action="Info" asp-route-id="@c.Id">جزئیات</a>
                </td>
            </tr>
        }
    </tbody>
</table>