@model Golestan_Simulation.Models.Courses

@{
    ViewData["Title"] = "جزئیات درس";
}

<h1>@ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-sm-2">نام درس</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">کد درس</dt>
    <dd class="col-sm-10">@Model.Code</dd>

    <dt class="col-sm-2">تعداد واحد</dt>
    <dd class="col-sm-10">@Model.Unit</dd>

    <dt class="col-sm-2">توضیحات</dt>
    <dd class="col-sm-10">@Model.Description</dd>

    <dt class="col-sm-2">تاریخ امتحان</dt>
    <dd class="col-sm-10">
        @Model.ExameDate
    </dd>
</dl>

<p>
    <a asp-area="Admin"
       asp-controller="CoursesManagement"
       asp-action="Edit"
       asp-route-id="@Model.Id"
       class="btn btn-primary">
        ویرایش
    </a>
    <a asp-area="Admin"
       asp-controller="CoursesManagement"
       asp-action="Delete"
       asp-route-id="@Model.Id"
       class="btn btn-danger">
        حذف
    </a>
    <a asp-area="Admin"
       asp-controller="CoursesManagement"
       asp-action="Index"
       class="btn btn-secondary">
        بازگشت به لیست
    </a>
</p>