@model Golestan_Simulation.Models.Sections

@{
    ViewData["Title"] = "جزئیات بخش";
}

<h1>@ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-sm-2">شناسه</dt>
    <dd class="col-sm-10">@Model.Id</dd>

    <dt class="col-sm-2">شناسه درس</dt>
    <dd class="col-sm-10">@Model.CourseId</dd>

    <dt class="col-sm-2">ترم</dt>
    <dd class="col-sm-10">@Model.Semester</dd>

    <dt class="col-sm-2">سال</dt>
    <dd class="col-sm-10">@Model.Year</dd>

    <dt class="col-sm-2">شناسه کلاس</dt>
    <dd class="col-sm-10">@Model.ClassroomId</dd>

    <dt class="col-sm-2">روز</dt>
    <dd class="col-sm-10">@Model.TimeSlot.Day</dd>

    <dt class="col-sm-2">زمان شروع</dt>
    <dd class="col-sm-10">
        @Model.TimeSlot.StartTime
    </dd>

    <dt class="col-sm-2">زمان پایان</dt>
    <dd class="col-sm-10">
        @Model.TimeSlot.EndTime
    </dd>
</dl>

<p>
    <a asp-area="Admin"
       asp-controller="SectionsManagement"
       asp-action="Delete"
       asp-route-id="@Model.Id"
       class="btn btn-danger">
        حذف
    </a>
    <a asp-area="Admin"
       asp-controller="SectionsManagement"
       asp-action="Index"
       class="btn btn-secondary">
        بازگشت به لیست
    </a>
</p>