@model IEnumerable<Golestan_Simulation.Models.Instructors>

@{
    ViewData["Title"] = "همه اساتید";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>نام</th>
            <th>حقوق</th>
            <th>اعمال</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.User.UserName @c.User.LastName</td>
                <td>@c.Salary</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@c.Id">حذف</a> |
                    <a asp-action="Info" asp-route-id="@c.Id">جزییات</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-area="Admin"
   asp-controller="InstructorsManagement"
   asp-action="RegisterInstructor"
   class="btn btn-primary mt-3">
    اضافه کردن استاد
</a>
