@model IEnumerable<Golestan_Simulation.Models.Instructors>

@{
    ViewData["Title"] = "All Instructors";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.User.UserName @c.User.LastName</td>
                <td>@c.Salary</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@c.Id">Delete</a> |
                    <a asp-action="Info" asp-route-id="@c.Id">Info</a>
                </td>
            </tr>
        }
    </tbody>
</table>
