@model Golestan_Simulation.Models.Instructors

@{
    ViewData["Title"] = "جزئیات استاد";
}

<h1>@ViewData["Title"]</h1>

<dl class="row">
    <dt class="col-sm-2">نام</dt>
    <dd class="col-sm-10">@Model.User.FirstName @Model.User.LastName</dd>

    <dt class="col-sm-2">ایمیل</dt>
    <dd class="col-sm-10">@Model.User.Email</dd>

    <dt class="col-sm-2">حقوق</dt>
    <dd class="col-sm-10">@Model.Salary</dd>

    <dt class="col-sm-2">تاریخ استخدام</dt>
    <dd class="col-sm-10">@Model.HireDate</dd>
</dl>

<p>
    <a asp-area="Admin"
       asp-controller="InstructorsManagement"
       asp-action="Delete"
       asp-route-id="@Model.Id"
       class="btn btn-danger">
        حذف
    </a>
    <a asp-area="Admin"
       asp-controller="InstructorsManagement"
       asp-action="Index"
       class="btn btn-secondary">
        بازگشت به لیست
    </a>
</p>