@model IEnumerable<Golestan_Simulation.Models.Classrooms>

@{
    ViewData["Title"] = "لیست کلاس‌ها";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ساختمان</th>
            <th>شماره اتاق</th>
            <th>ظرفیت</th>
            <th>اعمال</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Building</td>
                <td>@c.RoomNumber</td>
                <td>@c.Capacity</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@c.Id">ویرایش</a> |
                    <a asp-action="Delete" asp-route-id="@c.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
